<!-- <header>
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container d-flex justify-content-between align-items-center">

      <a class="navbar-brand text-uppercase custom-link" routerLink="/home">Mohamed Abdelhalim</a>

      <button class="navbar-toggler nav mb-1" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/home">
              <i class="bx bx-home"></i> Home
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/about">
              <i class="bx bx-user"></i> About
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/skills">
              <i class="bx bx-briefcase-alt"></i> Skills
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/projects">
              <i class="bx bx-book-content"></i> Projects
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/contact">
              <i class="fas fa-envelope"></i> Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand text-uppercase custom-link" routerLink="/home">Mohamed Abdelhalim</a>

      <button class="navbar-toggler nav mb-1" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/home">
              <i class="bx bx-home"></i> Home
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/about">
              <i class="bx bx-user"></i> About
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/skill">
              <i class="bx bx-briefcase-alt"></i> Skills
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/projects">
              <i class="bx bx-book-content"></i> Projects
            </a>
          </li>
          <li class="nav-item p-1 rounded">
            <a class="nav-link js-scroll-trigger smooth-scroll text-uppercase" routerLink="/contact">
              <i class="fas fa-envelope"></i> Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
