<section class="contact-section">

  <div class="contact-header">
    <h2>contact info</h2>
    <hr class="contact-underline">
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <address>
          <div class="email-div mb-2">
            <fa-icon [icon]="faEnvelope" class="me-2"></fa-icon>
            <a href="mailto:mohamedabdelhalim&#64;gmail.com" class="text-decoration-none">mohamedabdelhalim&#64;gmail.com</a>
          </div>
          <div class="email-div mb-2">
            <fa-icon [icon]="faPhone" class="me-2"></fa-icon>
            <a href="tel:+0201062815752" class="text-decoration-none">+201062815752</a> |
            <a href="https://wa.me/+201062815752" class="text-decoration-none">WhatsApp</a>
          </div>
          <div class="email-div mb-2">
            <fa-icon [icon]="faGithub" class="me-2"></fa-icon>
            <a target="_blank" href="https://github.com/Mohamed-Abdelhalim11" class="text-decoration-none">GitHub</a>
          </div>
          <div class="email-div mb-2">
            <fa-icon [icon]="faLinkedin" class="me-2"></fa-icon>
            <a target="_blank" href="https://linkedin.com/in/mohamed-abdelhalim-b46289276" class="text-decoration-none">LinkedIn</a>
          </div>
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        &copy; 2024 Mohamed Abdelhalim. All Rights Reserved.
      </div>
    </div>
  </div>
</section>
